In [2]:
conda activate alpacaenv

Note: you may need to restart the kernel to use updated packages.

In [23]:
# Import Libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import json

%matplotlib inline

In [24]:
# Laod .env environment
load_dotenv()

True

In [25]:
# Pull in API Key
api_key = os.getenv("glassnode_api")
type(api_key)

str

In [26]:
# Define crypto currencies to pull
crypto_list = ["BTC", "BCH", "ETH", "LTC", "USDT", "DOGE"]

In [33]:
# Define URLs
price_url = 'https://api.glassnode.com/v1/metrics/market/price_usd'
volume_url = 'https://api.glassnode.com/v1/metrics/transactions/transfers_volume_sum'
mkt_cap_url = 'https://api.glassnode.com/v1/metrics/market/marketcap_usd'
mining_url = 'https://api.glassnode.com/v1/metrics/mining/volume_mined_sum'
exchange_fee_url = 'https://api.glassnode.com/v1/metrics/fees/exchanges_sum'

## LTC API Data Pull

In [35]:
# Price API Request
ltc_price_res = requests.get(price_url,
                      params={'a': 'LTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert price to Pandas Dataframe, set index to time and clean up file
ltc_price_df = pd.read_json(ltc_price_res.text, convert_dates=['t'])
ltc_price_df.columns = ['Date', 'Price']
ltc_price_df.set_index('Date', inplace=True) 


# Volume API Request
ltc_volume_res = requests.get(volume_url,
                      params={'a': 'LTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert volume to Pandas Dataframe, set index to time and clean up file
ltc_volume_df = pd.read_json(ltc_volume_res.text, convert_dates=['t'])
ltc_volume_df.columns = ['Date', 'Volume']
ltc_volume_df.set_index('Date', inplace=True)



# Market Cap API Request
ltc_mkt_cap_res = requests.get(mkt_cap_url,
                      params={'a': 'LTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert Market Cap to Pandas Dataframe, set index to time and clean up file
ltc_mkt_cap_df = pd.read_json(ltc_mkt_cap_res.text, convert_dates=['t'])
ltc_mkt_cap_df.columns = ['Date', 'Market Cap']
ltc_mkt_cap_df.set_index('Date', inplace=True)



# Mining API Request
ltc_mining_res = requests.get(mining_url,
                      params={'a': 'LTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert Mining to Pandas Dataframe, set index to time and clean up file
# ltc_mining_df = pd.read_json(ltc_mining_res.text, convert_dates=['t'])
# ltc_mining_df.head(5)

In [ ]:
# ltc_mining_df.columns = [['Date'],['Blocks Mined']]
# ltc_mining_df.set_index('Date', inplace=True)

In [29]:
ltc_price_df.head(5)

             Price
Date
2013-05-19  3.1491
2013-05-20     NaN
2013-05-21     NaN
2013-05-22  3.0600
2013-05-23  3.0500

In [30]:
ltc_volume_df.head(5)

                   Volume
Date
2011-10-13   44199.477500
2011-10-14   22518.380483
2011-10-15   30682.842066
2011-10-16  199192.706085
2011-10-17   91493.403856

In [31]:
ltc_mkt_cap_df.head(5)

              Market Cap
Date
2013-05-19  5.601635e+07
2013-05-20  5.610263e+07
2013-05-21  5.618734e+07
2013-05-22  5.344536e+07
2013-05-23  5.859215e+07

In [32]:
ltc_mining_df.head(5)

Empty DataFrame
Columns: []
Index: []

## LTC Data Aggregating & Cleaning

In [14]:
# Define all the different data frames into a list
ltc_frames = [ltc_price_df, ltc_volume_df, ltc_mkt_cap_df, ltc_mining_df]

# Concatenate all the dataframes into one
ltc_data = pd.concat(ltc_frames, axis=1, join="outer", ignore_index=False)
ltc_data

                 Price        Volume    Market Cap
Date
2011-10-13         NaN  4.419948e+04           NaN
2011-10-14         NaN  2.251838e+04           NaN
2011-10-15         NaN  3.068284e+04           NaN
2011-10-16         NaN  1.991927e+05           NaN
2011-10-17         NaN  9.149340e+04           NaN
...                ...           ...           ...
2021-03-06  182.979153  8.520895e+06  1.213505e+10
2021-03-07  191.731806  9.421075e+06  1.250725e+10
2021-03-08  192.277042  1.122435e+07  1.256272e+10
2021-03-09  203.534055  9.136896e+06  1.332376e+10
2021-03-10  200.247837           NaN           NaN

[3437 rows x 3 columns]

In [ ]:
EP