In [1]:
conda activate alpacaenv

Note: you may need to restart the kernel to use updated packages.

In [6]:
# Import Libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import json

%matplotlib inline

In [7]:
# Laod .env environment
load_dotenv()

True

In [8]:
# Pull in API Key
api_key = os.getenv("glassnode_api")
type(api_key)

str

In [9]:
# Define crypto currencies to pull
crypto_list = ["BTC", "BCH", "ETH", "LTC", "USDT", "DOGE"]

In [57]:
# Define Market URLs
price_url = 'https://api.glassnode.com/v1/metrics/market/price_usd'
volume_url = 'https://api.glassnode.com/v1/metrics/transactions/transfers_volume_sum'
mkt_cap_url = 'https://api.glassnode.com/v1/metrics/market/marketcap_usd'
# Define Demand URLs
total_addresses_url = 'https://api.glassnode.com/v1/metrics/addresses/count'
sending_addresses_url = 'https://api.glassnode.com/v1/metrics/addresses/sending_count'
receiving_addresses_url = 'https://api.glassnode.com/v1/metrics/addresses/receiving_count'
active_addresses_url = 'https://api.glassnode.com/v1/metrics/addresses/active_count'
transactions_url = 'https://api.glassnode.com/v1/metrics/transactions/count'
# Define Supply URLs
circulating_supply_url = 'https://api.glassnode.com/v1/metrics/supply/current'
# Define Mining Revenue URLs
mining_revenue_sum_url = 'https://api.glassnode.com/v1/metrics/mining/revenue_sum'
# Define Indicator URLs
rhodl_ratio_url = 'https://api.glassnode.com/v1/metrics/indicators/rhodl_ratio'

## BTC API Data Pull

In [11]:
# Price API Request
btc_price_res = requests.get(price_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert price to Pandas Dataframe, set index to time and clean up file
btc_price_df = pd.read_json(btc_price_res.text, convert_dates=['t'])
btc_price_df.columns = ['Date', 'Price']
btc_price_df.set_index('Date', inplace=True) 


# Volume API Request
btc_volume_res = requests.get(volume_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert volume to Pandas Dataframe, set index to time and clean up file
btc_volume_df = pd.read_json(btc_volume_res.text, convert_dates=['t'])
btc_volume_df.columns = ['Date', 'Volume']
btc_volume_df.set_index('Date', inplace=True)



# Market Cap API Request
btc_mkt_cap_res = requests.get(mkt_cap_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert Market Cap to Pandas Dataframe, set index to time and clean up file
btc_mkt_cap_df = pd.read_json(btc_mkt_cap_res.text, convert_dates=['t'])
btc_mkt_cap_df.columns = ['Date', 'Market Cap']
btc_mkt_cap_df.set_index('Date', inplace=True)



# Mining API Request
btc_mining_res = requests.get(mining_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert Mining to Pandas Dataframe, set index to time and clean up file
btc_mining_df = pd.read_json(btc_mining_res.text, convert_dates=['t'])
btc_mining_df.columns = ['Date', 'Blocks Mined']
btc_mining_df.set_index('Date', inplace=True)

In [12]:
btc_price_df

                   Price
Date
2010-07-17      0.049510
2010-07-18      0.085840
2010-07-19      0.080800
2010-07-20      0.074733
2010-07-21      0.079210
2010-07-22      0.055945
2010-07-23      0.062283
2010-07-24      0.054540
2010-07-25      0.050500
2010-07-26      0.056000
2010-07-27      0.059844
2010-07-28      0.058900
2010-07-29      0.069200
2010-07-30      0.064283
2010-07-31      0.067850
2010-08-01      0.061100
2010-08-02      0.060000
2010-08-03      0.060000
2010-08-04      0.057950
2010-08-05      0.061000
2010-08-06      0.062100
2010-08-07      0.059000
2010-08-08      0.060900
2010-08-09      0.071000
2010-08-10      0.070000
2010-08-11      0.067000
2010-08-12      0.070000
2010-08-13      0.064500
2010-08-14      0.067000
2010-08-15      0.065290
...                  ...
2021-02-10  44886.381100
2021-02-11  47812.535334
2021-02-12  47482.861352
2021-02-13  47067.939135
2021-02-14  48747.452442
2021-02-15  47984.954754
2021-02-16  49175.900516
2021-02-17  52138.044988
2021-02-18  51649.575436
2021-02-19  55776.188813
2021-02-20  56134.544152
2021-02-21  57487.038074
2021-02-22  54092.688800
2021-02-23  48548.957214
2021-02-24  49652.010032
2021-02-25  47209.544069
2021-02-26  46243.952054
2021-02-27  46319.696394
2021-02-28  45119.125698
2021-03-01  49768.160350
2021-03-02  48401.732979
2021-03-03  50698.568335
2021-03-04  48515.770214
2021-03-05  48915.789595
2021-03-06  48905.879870
2021-03-07  51282.113699
2021-03-08  52307.860713
2021-03-09  54696.821822
2021-03-10  56128.767227
2021-03-11  56001.406196

[3891 rows x 1 columns]

In [13]:
btc_volume_df

                  Volume
Date
2009-01-03  0.000000e+00
2009-01-04  0.000000e+00
2009-01-05  0.000000e+00
2009-01-06  0.000000e+00
2009-01-07  0.000000e+00
2009-01-08  0.000000e+00
2009-01-09  0.000000e+00
2009-01-10  0.000000e+00
2009-01-11  0.000000e+00
2009-01-12  1.790000e+02
2009-01-13  0.000000e+00
2009-01-14  6.100000e+01
2009-01-15  5.000000e+02
2009-01-16  2.000000e+02
2009-01-17  0.000000e+00
2009-01-18  1.500000e+02
2009-01-19  7.750000e+02
2009-01-20  4.000000e+02
2009-01-21  1.000000e+02
2009-01-22  5.000000e+02
2009-01-23  4.500000e+02
2009-01-24  5.000000e+02
2009-01-25  5.000000e+01
2009-01-26  1.000000e+03
2009-01-27  1.500000e+02
2009-01-28  0.000000e+00
2009-01-29  6.000000e+02
2009-01-30  0.000000e+00
2009-01-31  1.000000e+03
2009-02-01  1.000000e+02
...                  ...
2021-02-09  3.399370e+06
2021-02-10  2.161660e+06
2021-02-11  2.380731e+06
2021-02-12  2.142459e+06
2021-02-13  1.523371e+06
2021-02-14  1.885203e+06
2021-02-15  2.373697e+06
2021-02-16  2.514434e+06
2021-02-17  2.076692e+06
2021-02-18  2.201917e+06
2021-02-19  2.364876e+06
2021-02-20  2.194400e+06
2021-02-21  1.783576e+06
2021-02-22  1.990278e+06
2021-02-23  2.172518e+06
2021-02-24  2.120236e+06
2021-02-25  2.312303e+06
2021-02-26  2.068090e+06
2021-02-27  1.676483e+06
2021-02-28  1.731627e+06
2021-03-01  1.783341e+06
2021-03-02  1.887572e+06
2021-03-03  1.874473e+06
2021-03-04  1.517715e+06
2021-03-05  1.778679e+06
2021-03-06  1.531900e+06
2021-03-07  2.130187e+06
2021-03-08  1.959105e+06
2021-03-09  1.949780e+06
2021-03-10  1.706182e+06

[4450 rows x 1 columns]

In [14]:
btc_mkt_cap_df

              Market Cap
Date
2010-07-17  1.702649e+05
2010-07-18  2.225672e+05
2010-07-19  3.138020e+05
2010-07-20  2.757412e+05
2010-07-21  2.444626e+05
2010-07-22  2.369822e+05
2010-07-23  2.214974e+05
2010-07-24  2.005073e+05
2010-07-25  2.023073e+05
2010-07-26  1.772573e+05
2010-07-27  2.089900e+05
2010-07-28  2.044889e+05
2010-07-29  2.124467e+05
2010-07-30  2.301850e+05
2010-07-31  2.295769e+05
2010-08-01  2.190855e+05
2010-08-02  2.211302e+05
2010-08-03  2.224124e+05
2010-08-04  2.180343e+05
2010-08-05  2.179092e+05
2010-08-06  2.256561e+05
2010-08-07  2.217104e+05
2010-08-08  2.177608e+05
2010-08-09  2.345469e+05
2010-08-10  2.520597e+05
2010-08-11  2.568719e+05
2010-08-12  2.411903e+05
2010-08-13  2.461524e+05
2010-08-14  2.483891e+05
2010-08-15  2.487653e+05
...                  ...
2021-02-09  8.675501e+11
2021-02-10  8.517863e+11
2021-02-11  8.606348e+11
2021-02-12  8.857713e+11
2021-02-13  8.800587e+11
2021-02-14  9.040781e+11
2021-02-15  8.913866e+11
2021-02-16  9.098228e+11
2021-02-17  9.484790e+11
2021-02-18  9.670939e+11
2021-02-19  9.889087e+11
2021-02-20  1.049288e+12
2021-02-21  1.063808e+12
2021-02-22  1.020681e+12
2021-02-23  9.137011e+11
2021-02-24  9.284568e+11
2021-02-25  9.326991e+11
2021-02-26  8.702580e+11
2021-02-27  8.792043e+11
2021-02-28  8.370820e+11
2021-03-01  8.874870e+11
2021-03-02  9.068316e+11
2021-03-03  9.401734e+11
2021-03-04  9.218222e+11
2021-03-05  8.907451e+11
2021-03-06  9.026353e+11
2021-03-07  9.363218e+11
2021-03-08  9.472894e+11
2021-03-09  1.006188e+12
2021-03-10  1.032706e+12

[3890 rows x 1 columns]

In [15]:
btc_mining_df

            Blocks Mined
Date
2009-01-03          50.0
2009-01-04           0.0
2009-01-05           0.0
2009-01-06           0.0
2009-01-07           0.0
2009-01-08           0.0
2009-01-09         700.0
2009-01-10        3050.0
2009-01-11        4650.0
2009-01-12        4700.0
2009-01-13        6150.0
2009-01-14        6450.0
2009-01-15        6300.0
2009-01-16        5400.0
2009-01-17        5450.0
2009-01-18        5350.0
2009-01-19        5750.0
2009-01-20        5700.0
2009-01-21        5100.0
2009-01-22        4550.0
2009-01-23        4200.0
2009-01-24       10050.0
2009-01-25        9550.0
2009-01-26        4800.0
2009-01-27        4850.0
2009-01-28        5600.0
2009-01-29        6050.0
2009-01-30        5850.0
2009-01-31        6900.0
2009-02-01        5650.0
...                  ...
2020-02-10        1525.0
2020-02-11        1850.0
2020-02-12        1775.0
2020-02-13        1762.5
2020-02-14        1687.5
2020-02-15        1775.0
2020-02-16        1775.0
2020-02-17        1962.5
2020-02-18        1875.0
2020-02-19        1762.5
2020-02-20        1575.0
2020-02-21        1925.0
2020-02-22        1850.0
2020-02-23        1775.0
2020-02-24        1762.5
2020-02-25        1800.0
2020-02-26        1700.0
2020-02-27        1837.5
2020-02-28        1975.0
2020-02-29        1737.5
2020-03-01        2212.5
2020-03-02        1862.5
2020-03-03        1912.5
2020-03-04        2087.5
2020-03-05        2037.5
2020-03-06        1937.5
2020-03-07        1962.5
2020-03-08        1975.0
2020-03-09        1875.0
2020-03-10        1650.0

[4085 rows x 1 columns]

## BTC Data Aggregating & Cleaning

In [16]:
# Define all the different data frames into a list
btc_frames = [btc_price_df, btc_volume_df, btc_mkt_cap_df, btc_mining_df]

# Concatenate all the dataframes into one
btc_data = pd.concat(btc_frames, axis=1, join="outer", ignore_index=False)
btc_data

                   Price        Volume    Market Cap  Blocks Mined
Date
2009-01-03           NaN  0.000000e+00           NaN          50.0
2009-01-04           NaN  0.000000e+00           NaN           0.0
2009-01-05           NaN  0.000000e+00           NaN           0.0
2009-01-06           NaN  0.000000e+00           NaN           0.0
2009-01-07           NaN  0.000000e+00           NaN           0.0
2009-01-08           NaN  0.000000e+00           NaN           0.0
2009-01-09           NaN  0.000000e+00           NaN         700.0
2009-01-10           NaN  0.000000e+00           NaN        3050.0
2009-01-11           NaN  0.000000e+00           NaN        4650.0
2009-01-12           NaN  1.790000e+02           NaN        4700.0
2009-01-13           NaN  0.000000e+00           NaN        6150.0
2009-01-14           NaN  6.100000e+01           NaN        6450.0
2009-01-15           NaN  5.000000e+02           NaN        6300.0
2009-01-16           NaN  2.000000e+02           NaN        5400.0
2009-01-17           NaN  0.000000e+00           NaN        5450.0
2009-01-18           NaN  1.500000e+02           NaN        5350.0
2009-01-19           NaN  7.750000e+02           NaN        5750.0
2009-01-20           NaN  4.000000e+02           NaN        5700.0
2009-01-21           NaN  1.000000e+02           NaN        5100.0
2009-01-22           NaN  5.000000e+02           NaN        4550.0
2009-01-23           NaN  4.500000e+02           NaN        4200.0
2009-01-24           NaN  5.000000e+02           NaN       10050.0
2009-01-25           NaN  5.000000e+01           NaN        9550.0
2009-01-26           NaN  1.000000e+03           NaN        4800.0
2009-01-27           NaN  1.500000e+02           NaN        4850.0
2009-01-28           NaN  0.000000e+00           NaN        5600.0
2009-01-29           NaN  6.000000e+02           NaN        6050.0
2009-01-30           NaN  0.000000e+00           NaN        5850.0
2009-01-31           NaN  1.000000e+03           NaN        6900.0
2009-02-01           NaN  1.000000e+02           NaN        5650.0
...                  ...           ...           ...           ...
2021-02-10  44886.381100  2.161660e+06  8.517863e+11           NaN
2021-02-11  47812.535334  2.380731e+06  8.606348e+11           NaN
2021-02-12  47482.861352  2.142459e+06  8.857713e+11           NaN
2021-02-13  47067.939135  1.523371e+06  8.800587e+11           NaN
2021-02-14  48747.452442  1.885203e+06  9.040781e+11           NaN
2021-02-15  47984.954754  2.373697e+06  8.913866e+11           NaN
2021-02-16  49175.900516  2.514434e+06  9.098228e+11           NaN
2021-02-17  52138.044988  2.076692e+06  9.484790e+11           NaN
2021-02-18  51649.575436  2.201917e+06  9.670939e+11           NaN
2021-02-19  55776.188813  2.364876e+06  9.889087e+11           NaN
2021-02-20  56134.544152  2.194400e+06  1.049288e+12           NaN
2021-02-21  57487.038074  1.783576e+06  1.063808e+12           NaN
2021-02-22  54092.688800  1.990278e+06  1.020681e+12           NaN
2021-02-23  48548.957214  2.172518e+06  9.137011e+11           NaN
2021-02-24  49652.010032  2.120236e+06  9.284568e+11           NaN
2021-02-25  47209.544069  2.312303e+06  9.326991e+11           NaN
2021-02-26  46243.952054  2.068090e+06  8.702580e+11           NaN
2021-02-27  46319.696394  1.676483e+06  8.792043e+11           NaN
2021-02-28  45119.125698  1.731627e+06  8.370820e+11           NaN
2021-03-01  49768.160350  1.783341e+06  8.874870e+11           NaN
2021-03-02  48401.732979  1.887572e+06  9.068316e+11           NaN
2021-03-03  50698.568335  1.874473e+06  9.401734e+11           NaN
2021-03-04  48515.770214  1.517715e+06  9.218222e+11           NaN
2021-03-05  48915.789595  1.778679e+06  8.907451e+11           NaN
2021-03-06  48905.879870  1.531900e+06  9.026353e+11           NaN
2021-03-07  51282.113699  2.130187e+06  9.363218e+11           NaN
2021-03-08  52307.860713  1.959105e+06  9.472894e+11           NaN
2021-03-09  54696.821822  1.949780e+06  1.006188e+12           NaN
2021-03-10  56128.767227  1.706182e+06  1.032706e+12           NaN
2021-03-11  56001.406196           NaN           NaN           NaN

[4451 rows x 4 columns]

# ETH API DATA PULL

In [60]:
# Price API Request
eth_price_res = requests.get(price_url,
                      params={'a': 'ETH',
                              'i': '24h',
                              'api_key': api_key})
# Convert price to Pandas Dataframe, set index to time and clean up file
eth_price_df = pd.read_json(eth_price_res.text, convert_dates=['t'])
eth_price_df.columns = ['Date', 'Price']
eth_price_df.set_index('Date', inplace=True) 

# Volume API Request
eth_volume_res = requests.get(volume_url,
                      params={'a': 'ETH',
                              'i': '24h',
                              'api_key': api_key})
# Convert volume to Pandas Dataframe, set index to time and clean up file
eth_volume_df = pd.read_json(eth_volume_res.text, convert_dates=['t'])
eth_volume_df.columns = ['Date', 'Volume']
eth_volume_df.set_index('Date', inplace=True)

# Market Cap API Request
eth_mkt_cap_res = requests.get(mkt_cap_url,
                      params={'a': 'ETH',
                              'i': '24h',
                              'api_key': api_key})
# Convert Market Cap to Pandas Dataframe, set index to time and clean up file
eth_mkt_cap_df = pd.read_json(eth_mkt_cap_res.text, convert_dates=['t'])
eth_mkt_cap_df.columns = ['Date', 'Market Cap']
eth_mkt_cap_df.set_index('Date', inplace=True)

# Mining API Request
eth_mining_res = requests.get(mining_revenue_sum_url,
                      params={'a': 'LTC',
                              'i': '24h',
                              'api_key': api_key})

# Convert Mining to Pandas Dataframe, set index to time and clean up file
eth_mining_df = pd.read_json(eth_mining_res.text, convert_dates=['t'])
#eth_mining_df.columns = ['Date', 'Blocks Mined']
#eth_mining_df.set_index('Date', inplace=True)

In [61]:
print(eth_mining_df)

              t              v
0    2011-10-13  484100.001000
1    2011-10-14   56100.002000
2    2011-10-15   38100.075000
3    2011-10-16   45750.907071
4    2011-10-17   38650.356248
5    2011-10-18   41300.374511
6    2011-10-19   32150.316770
7    2011-10-20   37950.317304
8    2011-10-21   41550.308110
9    2011-10-22   36400.483869
10   2011-10-23   41400.434000
11   2011-10-24   29800.339693
12   2011-10-25   26150.233000
13   2011-10-26   28850.326743
14   2011-10-27   21350.140114
15   2011-10-28   22550.277030
16   2011-10-29   29000.694478
17   2011-10-30   36801.747996
18   2011-10-31   33000.889135
19   2011-11-01   43802.519152
20   2011-11-02   61951.562273
21   2011-11-03   45200.308827
22   2011-11-04   46550.317207
23   2011-11-05   29650.233546
24   2011-11-06   31350.358120
25   2011-11-07   29201.345096
26   2011-11-08   26700.292686
27   2011-11-09   27150.857641
28   2011-11-10   26300.216066
29   2011-11-11   28851.239689
...         ...            ...
3042 2020-02-10    6823.483851
3043 2020-02-11    6661.548259
3044 2020-02-12    6624.391387
3045 2020-02-13    7374.878557
3046 2020-02-14    7322.263909
3047 2020-02-15    7886.224400
3048 2020-02-16    7586.004340
3049 2020-02-17    7347.699866
3050 2020-02-18    7097.991450
3051 2020-02-19    7462.254349
3052 2020-02-20    7047.302314
3053 2020-02-21    6747.252596
3054 2020-02-22    7182.682601
3055 2020-02-23    7207.850664
3056 2020-02-24    7961.980913
3057 2020-02-25    7534.359456
3058 2020-02-26    7085.683707
3059 2020-02-27    7159.714005
3060 2020-02-28    7171.780617
3061 2020-02-29    7733.924703
3062 2020-03-01    6858.047659
3063 2020-03-02    6896.436498
3064 2020-03-03    6921.796486
3065 2020-03-04    7209.047646
3066 2020-03-05    7296.745443
3067 2020-03-06    7509.620683
3068 2020-03-07    7760.244683
3069 2020-03-08    7110.304946
3070 2020-03-09    7049.055782
3071 2020-03-10    7584.663245

[3072 rows x 2 columns]